<fieldset id="gnm-metadataeditfieldset">
    <ul class="left">
        {% with dailymotionform.gnm_master_dailymotion_dailymotionurl as field %}
            <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        {% with dailymotionform.gnm_master_dailymotion_title as field %}
            <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        {% with dailymotionform.gnm_master_dailymotion_description as field %}
            <li class="{% if field.field.required %}required{% endif %}"><div class="labelholder">{{ field.label_tag }}</div><div class="textareaholder">{{ field }}</div>
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        {% with dailymotionform.gnm_master_dailymotion_keywords as field %}
            <li class="{% if field.field.required %}required{% endif %} with-subtext">{{ field.label_tag }}{{ field }}
                <div class="subtext">contributor, keywords, series, section</div>
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        {% with dailymotionform.gnm_master_dailymotion_dailymotioncategory as field %}
            <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}<div class="edit-select-wrapper"><div class="select-arrow-hider"></div>{{ field }}</div>
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        {% with dailymotionform.gnm_master_dailymotion_owner as field %}
            <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        <li>
            <label>Applicable rules</label>
            <ul class="applicable-rules">
                {% with dailymotionform.gnm_master_dailymotion_nomobileaccess as field %}
                    <li class="master-checkbox">{{ field }}
                        {% for error in field.errors %}
                            <label class="errorlist">{{ error }}</label>
                        {% endfor %}
                    </li>
                {% endwith %}

                {% with dailymotionform.gnm_master_dailymotion_containsadultcontent as field %}
                    <li class="master-checkbox">{{ field }}
                        {% for error in field.errors %}
                            <label class="errorlist">{{ error }}</label>
                        {% endfor %}
                    </li>
                {% endwith %}
            </ul>
        </li>

    </ul>
    <ul class="right">
        {% with dailymotionform.gnm_master_dailymotion_holdingimage as field %}
            <li class="{% if field.field.required %}required{% endif %} with-subtext">{{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}
        <div class="boxed">
            {% with dailymotionform.gnm_master_dailymotion_uploadtype as field %}
                <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}<div class="edit-select-wrapper"><div class="select-arrow-hider"></div>{{ field }}</div>
                    {% for error in field.errors %}
                        <label class="errorlist">{{ error }}</label>
                    {% endfor %}
                </li>
            {% endwith %}

            {% with dailymotionform.gnm_master_dailymotion_status as field %}
                <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}<div class="edit-select-wrapper"><div class="select-arrow-hider"></div>{{ field }}</div>
                    {% for error in field.errors %}
                        <label class="errorlist">{{ error }}</label>
                    {% endfor %}
                </li>
            {% endwith %}

            {% with dailymotionform.gnm_master_dailymotion_uploadstatus as field %}
                <li class="{% if field.field.required %}required{% endif %} with-button">{{ field.label_tag }}<div class="edit-select-wrapper"><div class="select-arrow-hider"></div>{{ field }}</div>
                    <a class="button left upload_status_update positioned-under-label" href="{% url master_trigger master.id 'dailymotion' %}" data-uploadtype="id_gnm_master_dailymotion_uploadtype" data-target="id_gnm_master_dailymotion_uploadstatus">Publish</a>
                    <div class="spinner positioned-under-label hidden">
                        <img src="/sitemedia/img/gnm/loading.gif">
                    </div>
                    {% for error in field.errors %}
                        <label class="errorlist">{{ error }}</label>
                    {% endfor %}
                </li>
            {% endwith %}

            {% with dailymotionform.gnm_master_dailymotion_uploadlog as field %}
                <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}{{ field }}
                    <a href="#" class="refresh_upload_logs_button"><i class='fa fa-refresh'></i> Auto refresh</a>
                    {% for error in field.errors %}
                        <label class="errorlist">{{ error }}</label>
                    {% endfor %}
                </li>
            {% endwith %}
        </div>
    </ul>
</fieldset>
<input type="submit" value="Save" class="visible-when-edit button submit_metadataform right" />
