<fieldset id="gnm-metadataeditfieldset">
    <ul class="left">
        {% with spotifyform.gnm_master_spotify_licensor as field %}
            <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}<img src="{{STATIC_URL}}/img/gnm/question_mark_icon.jpg" height="24px" class="tip" title="Licensor - the body that owns the copyright for this work. If unsure please consult with Rights and Syndication BEFORE releasing any episodes"/>{{ field }}
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        {% with spotifyform.gnm_master_spotify_id as field %}
            <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        {% with spotifyform.gnm_master_spotify_title_id as field %}
            <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        {% with spotifyform.gnm_master_spotify_upload_version as field %}
            <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        {% with spotifyform.gnm_master_spotify_title as field %}
            <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        {% with spotifyform.gnm_master_spotify_description as field %}
            <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        {% with spotifyform.gnm_master_spotify_keywords as field %}
            <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

        {% with spotifyform.gnm_master_spotify_publish as field %}
            <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <label class="errorlist">{{ error }}</label>
                {% endfor %}
            </li>
        {% endwith %}

    </ul>
    <ul class="right">
        <div class="boxed">
            {% with spotifyform.gnm_master_spotify_status as field %}
                <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}<div class="edit-select-wrapper"><div class="select-arrow-hider"></div>{{ field }}</div>
                    {% for error in field.errors %}
                        <label class="errorlist">{{ error }}</label>
                    {% endfor %}
                </li>
            {% endwith %}

            {% with spotifyform.gnm_master_spotify_uploadstatus as field %}
                <li class="{% if field.field.required %}required{% endif %} with-button">{{ field.label_tag }}<div class="edit-select-wrapper"><div class="select-arrow-hider"></div>{{ field }}</div>
                    <a class="button left upload_status_update positioned-under-label" href="{% url master_trigger master.id 'spotify' %}" data-target="id_gnm_master_spotify_uploadstatus">Publish</a>
                    <div class="spinner positioned-under-label hidden">
                        <img src="/sitemedia/img/gnm/loading.gif">
                    </div>
                    {% for error in field.errors %}
                        <label class="errorlist">{{ error }}</label>
                    {% endfor %}
                </li>
            {% endwith %}

            {% with spotifyform.gnm_master_spotify_uploadlog as field %}
                <li class="{% if field.field.required %}required{% endif %}">{{ field.label_tag }}{{ field }}
                    <a href="#" class="refresh_upload_logs_button"><i class='fa fa-refresh'></i> Auto refresh</a>
                    {% for error in field.errors %}
                        <label class="errorlist">{{ error }}</label>
                    {% endfor %}
                </li>
            {% endwith %}
        </div>
    </ul>
</fieldset>
<input type="submit" value="Save" class="visible-when-edit button submit_metadataform right" />
