{% themeextends "base.html" %}

{% block title %}search master{% endblock %}

{% block body %}

<div class="header">
    <h1><a href="/master/list/">Masters:</a> Search</h1>
</div>
<div class="content">
    <div class="widepagecontent">
        <h5 class="block-header">Search result</h5>
        <div class="row">
            <table class="generictbl" id="mytable">
                <thead>
                    <tr>
                        <th><a href="#">Thumbnail</a></th>
                        <th><a href="#">Master title</a></th>
                        <th><a href="#">Commission title</a></th>
                        <th><a href="#">Project title</a></th>
                        <th><a href="#">Group</a></th>
                        <th><a href="#">Destination</a></th>
                        <th><a href="#">Publish date</a></th>
                        <th><a href="#">Remove date</a></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% block js %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#mytable').dataTable({
            "sAjaxSource": "{% url masters_search_api %}",
            "bProcessing": true,
            "bServerSide": true,
            "bLengthChange": false,
            "aaSorting": [[0, "asc" ]],
            "aoColumns": [{ "sType": "html" },null,null,null,null,null,null,null],
            "aoColumnDefs" : [{"bSortable" : false, "aTargets" : [ "no-sorting" ]}],
            "iDisplayLength": parseInt('15',10),
            "oLanguage": {"sSearch": ""},
            "sDom": '<"top"ifpl>rt<"bottom"><"clear">',
            "oLanguage": {
                "sSearch": "",
                "sInfo": 'Showing _START_ to _END_ of _TOTAL_ masters'
            },
            "oSearch": {"sSearch": "{{ search }}"},
            "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                nRow.className = nRow.className + " clickableRow";
                if(aData[12] == '') {
                    nRow.setAttribute('data-url', "/vs/item/" + aData[11])
                } else {
                    nRow.setAttribute('data-url', "/master/" + aData[11])
                }
                nRow.addEventListener('click', function() {
                    window.document.location = $(this).data('url');
                });
                return nRow;
            }
        });

        $('.clickableRow').click(function() {
            window.document.location = $(this).data('url');
        });
    });
</script>
{% endblock js %}
{% endblock body %}
