{% themeextends "base.html" %}

{% block title %}master ingest{% endblock %}

{% block body %}
<div class="header">
    <h1><a href="{% url master master_id %}">Master</a>: Master locked</h1>
</div>
<div class="content">
    <div class="widepagecontent">
        <h5 class="block-header">Master locked</h5>
        <div class="row">
            <p>This master is locked: A file is already being ingested to this master via Media Shuttle.</p>
            <p>You can unlock the master but doing so might conflict with the ongoing ingest.</p>
            <br />
            <p><a href="#" id="unlock" class="button blue-button">Unlock master</a> <a href="{% url master master_id %}" class="button blue-button">Back to Master page</a></p>
        </div>
    </div>
</div>
{% endblock body %}

{% block footer %}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#unlock').click(function(e) {
                $.ajax({
                    url: '{% url master_set_status master_id 'gnm_master_upload_lock' %}',
                    type: 'POST',
                    data: {
                        status: ''
                    },
                    success: function() {
                        window.location = '{% url master_ingest master_id %}';
                    },
                    error: function() {
                        e.preventDefault();
                    }
                });
            });
        });
    </script>
{% endblock footer %}
