{% themeextends "base.html" %}
{% load static %}

{% block title %}master ingest{% endblock %}
{% block head %}
<script language="JavaScript" src="{% static 's3direct/js/scripts.js' %}"></script>
<link rel="stylesheet" href="{% static 's3direct/css/bootstrap-progress.min.css' %}">
<link rel="stylesheet" href="{% static 's3direct/css/styles.css' %}">
{% endblock %}

{% block body %}
<div class="header">
    <h1><a href="{% url master master_id %}">Master</a>: Ingest media</h1>
</div>
    <div class="content">
        <div class="widepagecontent">
            <div class="row" id="ingestpage">

                <div id="ingest-media">
                    <form>
                        <h2>Media on SAN</h2>
                        <ul class="left">
                            <li>
                                <label>Media file:</label><span class='validation_error'></span><input type="file" id="ingest_media" />
                            </li>
                            <li>
                                <label>Final Cut Pro XML:</label><span class='validation_error'></span><input type="file" id="ingest_edl" name='ingest_edl'/><label><input type='checkbox' id='edl_not_applicable'>Not applicable</label>
                            </li>
                            <li>
                                <label>Progress:</label><span id="progress"></span>
                            </li>
                            <li>
                                {% if show_skip %}<a href="{% url master master_id %}" class="button">Skip ingest step</a>{% endif %}
                                <input type="submit" id="start_ingest" class="button" value="Upload" />
                            </li>
                        </ul>
                    </form>
                </div>

                {% if include_media_shuttle %}
                    <div id="media-shuttle">
                        <h2>Remote media {% if django_s3upload_form %}faster{% endif %}</h2>
                        <p>If you are accessing the system remotely or are not connected to the Fibre Network in Kings place you will need to upload remotely.</p>
                        <p>
                            <a href="#" onclick="$('#more_info').dialog({width: 500, buttons: {'Close': function() {$(this).dialog('close');}}});">More info...</a><br/>
                        </p>
                        <form>
                            <ul class="left">
                                <li>
                                    <label>Master file:</label><span class="validation_error"></span>
                                    <input style="color: transparent;" id="remote_master_file" type="file" onchange="$('#remote_master_filename').val(event.target.files[0].name);"/><input type="text" id="remote_master_filename" value="{{ remote_master_filename }}"/>
                                    <a href="#" onclick="$('#file_naming').dialog({width: 500, buttons: {'Close': function() {$(this).dialog('close');}}});">File Naming and Encoding</a>
                                </li>
                                <li>
                                    <label>Final Cut Pro XML:</label><span class='validation_error'></span>
                                    <input type="file" id="remote_ingest_edl" name='remote_ingest_edl' onchange="$('#remote_ingest_edl').parent().find('.validation_error').text('');"/><label><input type='checkbox' id='remote_edl_not_applicable' onchange="$('#remote_ingest_edl').parent().find('.validation_error').text('');">Not applicable</label>
                                </li>
                                <li>
                                    <a href="{{ remote_url }}" class="button blue-button" id="remote_upload" target="_blank">Upload XML and continue</a>
                                </li>
                            </ul>
                        </form>
                    </div>
                {% endif %}

                {% if django_s3upload_form %}
                    <div id="s3-indirect-upload">
                        <h2>Remote media failsafe</h2>
                        <p>If you are accessing the system remotely or are not connected to the Fibre Network in Kings place you will need to upload remotely.</p>
                        <p>You'll probably find MediaShuttle somewhat faster than this, but if you have trouble you may need to upload this way.</p>

			<p><strong>Note:</strong> At present, you cannot upload files larger than 2Gb with this method.  You should compress your file to 8mbit h.264 before uploading. <a href="#" onclick="$('#more_info').dialog({width: 500, buttons: {'Close': function() {$(this).dialog('close');}}});">More info...</a></p>
                        <form action="" method="POST">
                            <ul class="left">
                                <span id="s3_error" class='validation_error'></span>
                                {{ django_s3upload_form.as_ul }}
                                <li>
                                    <label>Final Cut Pro XML:</label><span class='validation_error'></span>
                                    <input type="file" id="s3_ingest_edl" name='s3_ingest_edl' onchange="$('#s3_ingest_edl').parent().find('.validation_error').text('');"/><label><input type='checkbox' id='s3_edl_not_applicable' onchange="$('#s3_ingest_edl').parent().find('.validation_error').text('');">Not applicable</label>
                                </li>
                                <li>
                                    <label>Progress:</label><span id="s3_progress"></span>
                                </li>
                                {% csrf_token %}
                                <input type="submit" id="start_ingest_indirect" class="button blue-button" value="Save"/>
                            </ul>
                        </form>
                    </div>
                {% endif %}

                <div id="more_info" style="display: none;" title="Remote Upload">
                    <p>When you are working within the multimedia SAN, you don't actually need to upload any content - you put it onto the SAN and tell PLUTO where to find it. This makes the mastering process much faster.</p>

                    <p>If you're not on the SAN, you do have to upload the content. Because the files are much larger, we have bought an upload accelerator system called Signiant that should mean you get more efficient use of your bandwidth when uploading.</p>

                    <p>You still need to provide the FCP edit XML if you're uploading from Premiere, and we need to verify that a file does not already exist.</p>
                </div>
                <div id="file_naming" style="display: none;" title="Media Encoding">
                    <p>Ideally use an AS-11 MXF encoding. However, these files can be too large to send remotely.
                        Instead&nbsp;use:&nbsp;mp4&nbsp;file<br/>
                        video codec h.264<br/>
                        video bitrate 10240 kbit/s<br/>
                        frame size 1920x1080<br/>
                        audio codec AAC<br/>
                        audio bitrate 192 kbit/s<br/>
                        audio channels 2</p>

                    <p>Ensure that file names conform to the standard naming convention:&nbsp;YYMMDDfileName
                        where YY is the year, MM is the month and DD is the date. For example: 150227myGreatVideo.mxf</p>

                    <p>Please contact multimediatech@theguardian.com if you have any questions or problems.</p>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}

{% block footer %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            function save_job_id(job_id, edl_file_element, edl_applicable) {
                console.log(job_id);
                $('#progress').text('Saving job id: ' + job_id);
                $.ajax('{% url master_set_job_id master_id %}?is_update={{ is_update }}', {
                    type: 'POST',
                    data: {
                        'jobid': job_id,
                        'skip_edl': $('#edl_not_applicable').is(':checked')
                    },
                    success: function() {
                        if (edl_applicable) {
                            $('#progress').text('Uploading EDL data');
                            var formData = new FormData();
                            var edl_ajax = new XMLHttpRequest();
                            formData.append("edl_file", edl_file_element.files[0]);
                            edl_ajax.open('POST', '{% url master_ingest_upload_edl master_id %}', false);
                            edl_ajax.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                            edl_ajax.send(formData);
                            if (edl_ajax.status != 204) {
                                $('#progress').text('Adding EDL data failed.');
                                return;
                            }
                        }
                        $('#progress').text('Done');
                        window.location = "{% url master master_id %}";
                    },
                    error: function () {
                        $('#progress').text('Setting job id failed');
                    }
                });
            }


            $('#start_ingest').click(function(e){
                e.preventDefault();
                if($('#ingest_media').val() == '') {
                    $('#ingest_media').parent().find('.validation_error').text('Please select a media file');
                    return;
                }
                if($('#ingest_edl').val() == '' && !($('#edl_not_applicable').is(':checked'))) {
                    $('#ingest_edl').parent().find('.validation_error').text('Please select a XML file');
                    return;
                }
                $('#ingest_media').parent().find('.validation_error').text('');
                $('#ingest_edl').parent().find('.validation_error').text('');

                var file = $('#ingest_media')[0].files[0];

                $('#progress').text('Starting import');
                $.ajax('{% url master_import_via_filename master_id %}', {
                    type: 'POST',
                    data: {
                        filename: file.name
                    },
                    success: function(data) {
                        save_job_id(data, $('#ingest_edl')[0], !($('#edl_not_applicable').is(':checked')));
                    },
                    error: function(xhr) {
                        $('#progress').text(xhr.responseText);
                    }
                });

            });

            $('#start_ingest_indirect').click(function(e){
                e.preventDefault();

                console.log("start_ingest_indirect: " + $('#id_video_file_url').val());

                if($('#id_video_file_url').val() == '') {
                    $('#s3_error').text('Please upload a media file, or wait for the current upload to complete');
                    return;
                }

                $('#s3_progress').text('Starting import');
                $.ajax('{% url master_import_via_s3 master_id %}', {
                    type: 'POST',
                    data: {
                        fileurl: $('#id_video_file_url').val()
                    },
                    success: function(data) {
                        save_job_id(data, $('#s3_ingest_edl')[0], !($('#s3_edl_not_applicable').is(':checked')));
                    },
                    error: function(xhr) {
                        $('#progress').text(xhr.responseText);
                    }
                });
            });

            $('#remote_upload').click(function(e) {
                v = $('#remote_master_filename').parent().find('.validation_error').get(0);

                // post file name
                $.ajax({
                    url: '{% url master_ingest master_id %}',
                    type: 'POST',
                    async: false,
                    data: {
                        remote_master_filename: $('#remote_master_filename').val(),
                    },
                    success: function() {
                        v.innerHTML = '';
                        v = $('#remote_ingest_edl').parent().find('.validation_error').get(0);

                        // post FCP XML
                        if (!($('#remote_edl_not_applicable').is(':checked'))) {
                            if (!($('#remote_ingest_edl').val())) {
                                e.preventDefault();
                                v.innerHTML = 'Please select an FCP XML file.';
                                return;
                            }
                            //v.innerHTML = 'Uploading FCP XML file...';
                            var formData = new FormData();
                            var edl_ajax = new XMLHttpRequest();
                            formData.append("edl_file", $('#remote_ingest_edl').get(0).files[0]);
                            edl_ajax.open('POST', '{% url master_ingest_upload_edl master_id %}', false);
                            edl_ajax.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                            edl_ajax.send(formData);
                            if (edl_ajax.status < 200 || edl_ajax.status >= 300) {
                                e.preventDefault();
                                v.innerHTML = 'Failed to upload FCP XML file.';
                                return;
                            }
                        }

                        // lock master and redirect to signiant
                        $.ajax({
                            url: '{% url master_set_status master_id 'gnm_master_upload_lock' %}',
                            type: 'POST',
                            data: {
                                status: 'locked'
                            },
                            success: function() {
                                window.location = '{% url master master_id %}';
                            },
                            error: function() {
                                // redirect even if error. The remote upload will still work.
                                //e.preventDefault();
                                window.location = '{% url master master_id %}';
                            }
                        });
                    },
                    error: function(jqXHR) {
                        e.preventDefault();
                        if (jqXHR.status === 409) {
                            v.innerHTML = jqXHR.responseText;
                        } else {
                            v.innerHTML = ':(';
                        }
                    }
                });

            });
        });
    </script>
{% endblock footer %}
