{% themeextends 'gnm_deliverables/deliverables.html' %}
{% load datetimeformatting %}

{% block content %}
<div class="row">
    <h2>{{ title }}</h2>
    <p>The name you enter will become the name of the folder in the SAN</p>
    <form method="post" class="formmain edit-form" id="create_deliverable_form">
        {% csrf_token %}
        <ul>
            {% for field in form %}
            <li class="{% if field.field.required %}required{% endif %}">
                {{ field.label_tag }} {{ field }} <span id="id_san_location"></span>
                {% for error in field.errors %}
                <label class="errorlist full-width">{{ error }}</label>
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
        <button id="id_submit" class="clearfix button blue-button disabled-button right" disabled="disabled">Create deliverables</button>
    </form>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    const submitButton = $('#id_submit');
    const nameField = $('#id_name');
    const sanLocation = $('#id_san_location');

    function pathJoin (parts, sep) {
      var separator = sep || '/';
      var replace = new RegExp(separator + '{1,}', 'g');
      return parts.join(separator).replace(replace, separator);
    }

    function changeButtonState (value) {
      if (value.length > 0) {
        submitButton.attr('disabled', null);
        submitButton.removeClass('disabled-button');
      } else {
        submitButton.attr('disabled', 'disabled');
        submitButton.addClass('disabled-button');
      }
    }

    nameField.on('change input', function (e) {
      changeButtonState(e.target.value);
      sanLocation.text('location: ' + pathJoin(['{{ SAN_ROOT }}', e.target.value]), '/');
    })

    // Page load
    changeButtonState(nameField.val());
    sanLocation.text('location: ' + pathJoin(['{{ SAN_ROOT }}', nameField.val()]), '/');
  });
</script>
{% endblock js %}
