{% themeextends "base.html" %}
{% load datetimeformatting %}

{% block extra_script %}
{% endblock extra_script %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="header">
    <h1>
        {% if project_model %}
        <div class="breadcrumb">
            <img src="{{STATIC_URL}}/img/gnm/icon_commission.png">
            <a href="/commission/{{ vs_site_id }}-{{ project_model.commission.collection_id }}">
                {{ project_model.commission.gnm_commission_title }}
            </a>
            <img class="breadcrumb-arrow" src="{{STATIC_URL}}/img/gnm/breadcrumb_arrow_lightgray.png">
        </div>
        <div class="breadcrumb">
            <img src="{{STATIC_URL}}/img/gnm/icon_project.png">
            <a href="/project/{{ vs_site_id }}-{{ project_model.collection_id }}">
                {{ project_model.gnm_project_headline }}
            </a>
            <img class="breadcrumb-arrow"
                 src="{{STATIC_URL}}/img/gnm/breadcrumb_arrow_lightgray.png"></a>
        </div>
        {% endif %}
        <div class="breadcrumb">
            {{ title }}
        </div>
    </h1>
</div>
<div class="content">
    <div class="widepagecontent">
        {% block content %}
        <h5 class="block-header deliverables">Latest Deliverables</h5>
        <div class="row">
            <ul class="tabs">
                <li class="selected"><a href="#tab-my"><em>My</em></a></li>
                <li><a href="#tab-all"><em>All</em></a></li>
                {% for group in working_groups %}
                {% if 'showhidden' in request.get_full_path or not group.hide and group.load_on_pageload %}
                <li><a href="#"><em>{{ group.name }}</em></a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="panes">

            </div>
        </div>
        {% endblock content %}
    </div>
</div>
{% block js %}
<script src="{{STATIC_URL}}js/gnm/gnm.js?v=3"></script>
<script src="{{STATIC_URL}}js/gnm/gnm_functions.js"></script>
<script src="{{STATIC_URL}}gnm_deliverables/listview.js"></script>
<script>
    const urlDeliverablesApiSearch = "{% url deliverables_api %}";

    const tableContent = [
        '<table class="generictbl" id="{elem-id}">',
        '<thead>',
        '<tr>',
        '<th><a href="#">Name</a></th>',
        '<th><a href="#">Project</a></th>',
        '<th><a href="#">Date Created</a></th>',
        '<th><a href="#">Assets</a></th>',
        '<th><a href="#">Ingesting files?</a></th>',
        '</tr>',
        '</thead>',
        '<tbody>',
        '</tbody>',
        '</table>'
    ].join("\n");

    function onTabActivated(evt, ui){
        console.log("beforeActivate: ", ui.oldTab, ui.newTab)
    }

    $(document).ready(function(){
        $.ajax("/commission/api/groups/")
            .done(function(data){
                const tabArea = $("ul.tabs");
                const replacer = /[^\w\d]/gi;

                const elemsList = [
                    {tabId: "tab-my", dataSrc: urlDeliverablesApiSearch + "?mine=true"},
                    {tabId: "tab-all", dataSrc: urlDeliverablesApiSearch },
                ].concat(data.map(function(entry){
                    return {
                        tabId: "tab-" + entry.name.replace(replacer, '-'),
                        dataSrc: "/deliverables/api/by-working-group/" + entry.uuid + "/"
                    }
                }));

                console.log(elemsList);

                for(var i=0;i<elemsList.length;++i){
                    $('div.panes').append(
                        $('<div>', {id: elemsList[i].tabId, class:"clearfix tab", "data-loaded": true})
                            .html(tableContent.replace("{elem-id}",elemsList[i].tabId))
                    );
                }
                tabArea.tabs("div.panes > div");
                console.log($.ui.version);

                //tabArea.flexMenu();
                $('div.dataTables_filter input').val();
                setup_lists(elemsList);
            });
    });
</script>
{% endblock js %}
{% endblock body %}

{% block footer %}
{% endblock footer %}
