{% themeextends 'gnm_deliverables/deliverables.html' %}
{% load datetimeformatting deliverable_tags %}

{% block content %}
<div class="row">
    <header>
        <h2 style="display: inline-block; margin-right: 10px">Files</h2>
        <span id="id_san_location">
        location:
        {% if local_open_uri %}
            <a href="{{ local_open_uri }}">{{ local_path }}</a>
        {% else %}
            <span class="validation_error">{{ deliverable.path }}</span>
        {% endif %}
        {% if not folder_exists %}
            <span class="validation_error">WARNING! The folder does not exist.</span>
            <button class="button blue-button" onclick="create_folder('{{ deliverable.id }}');">Create Folder</button>
        {% endif %}
        </span>
    </header>
    <hr />
    <form name="delete_form" method="post">
        {{ formset.management_form }}
        {% csrf_token %}
        <div class="actions clearfix">
            <div class="left">
                <a href="{% url deliverables_detail deliverable.id %}" name="action_refresh" class="button blue-button">Refresh</a>
                {% if user|has_role:"_file_write" or user|has_role:"_administrator" %}
                    <button id="id_action_delete" name="action_delete" class="button blue-button disabled-button" disabled="disabled">Delete</button>
                {% endif %}
            </div>
            <div class="right">
                <input size="28" placeholder="paste Pluto master or asset URL" name="add_asset_url" id="add_asset_url_input"/>
                <button id="id_action_add_asset" name="action_add_asset" class="button blue-button" style="display: none;">Add Item</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th><input id="id_all_checkbox" type="checkbox"></th>
                    <th>Filename</th>
                    <th>Version</th>
                    <th>Size</th>
                    <th>Duration</th>
                    <th>Type</th>
                    <th>Last modified</th>
                    <th>Action/status</th>
                </tr>
                </thead>
                <tbody>
                {% for form in formset %}
                <tr data-asset-id="{{ form.instance.id }}"
                    data-asset-type="{{ form.instance.type }}"
                    data-asset-item-id="{{ form.instance.item_id }}"
                    data-created-from-existing-item="{{ form.instance.created_from_existing_item }}">
                    {{ form.id }}
                    <td> {{ form.DELETE }}</td>
                    <td class="column_filename">
                        {% if form.instance.item_id %}
                        <a href="/vs/item/{{ form.instance.item_id }}" target="_blank">{{ form.instance.filename }}</a>
                        {% else %}
                        {{ form.instance.filename }}
                        {% endif %}
                    </td>
                    <td class="column_version">{{ form.instance.version|default:'-' }}</td>
                    <td class="column_size">{{ form.instance.size_string }}</td>
                    <td class="column_duration">{{ form.instance.duration|default:'-' }}</td>
                    <td class="column_type">
                        {{ form.type }}
                        <div class="validation_error"></div>
                    </td>
                    <td class="column_changed">{{ form.instance.changed_string }}</td>
                    <td class="column_status">
                        <span class="status-{{ form.instance.status }}">
                            {{ form.instance.status_string }}
                            {% if form.instance.status_string == 'Ingest failed' %}
                                <input type="hidden" name="retry_id{{ forloop.counter }}" value="{{ form.instance.id }}" />
                                <input type="hidden" name="retry_item{{ forloop.counter }}" value="{{ form.instance.item_id }}" />
                                <input type="hidden" name="loop_number" value="{{ forloop.counter }}" />
                                <button id="id_action_retry{{ forloop.counter }}" name="action_retry{{ forloop.counter }}" class="button blue-button" onclick="disableButton('id_action_retry{{ forloop.counter }}');" style="margin-left: 10px;" >Retry</button>
                            {% endif %}
                            <div class="loader"></div>
                        </span>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="row">
    <h2>Shareable links</h2>
    <hr />
    <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Files</th>
                    <th>Created</th>
                    <th>Expires</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="4">No sharable links created for this deliverable</td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
    function folder_make_dialog(title) {
        var dlg_div = $('<div>', {'id': 'folder_restore_dialog', 'class': 'folder_restore_dialog', 'title': title});
        $(window).append(dlg_div);
        dlg_div.dialog({
            autoOpen: true,
            width: 380,
            close: function(event, ui){
                $('#folder_restore_dialog').remove();
            }
        });
        return dlg_div;
    }

    function create_folder(id){
        $.ajax('/deliverables/create_folder/' + id)
            .done(function(result){

                if(result.status==="ok"){
                    var dialog = folder_make_dialog("Folder Created");
                    dialog.html("The folder has been created.");
                }

            }).fail(function(jqXHR, textStatus, errorThrown){
            var result = jQuery.parseJSON(jqXHR.responseText);
            console.debug("Request failed: " + errorThrown + " but got " + jqXHR.responseText);
            console.debug(result);
            var dialog = folder_make_dialog("Folder Creation Failed");
            dialog.html("Unable to create folder: " + result.detail);
        });
    }

    $(document.getElementById("add_asset_url_input")).keyup(function () {
        if ($(this).val()) {
            $(document.getElementById("id_action_add_asset")).show();
        }
        else {
            $(document.getElementById("id_action_add_asset")).hide();
        }
    });

    function disableButton (object) {
        $('#'+object).on('click', function(){
            $('#'+object).attr("disabled", true);
        });
    }

  function dlog (message) {
    if ({{ DEBUG }}) {
      console.log(message)
    }
  }

  function deliverableAssetUpdate (id, data) {
    return $.ajax({
      url: '/deliverables/asset/' + id,
      type: 'PATCH',
      data: data
    })
  }

  function deliverableAssetCheckType (id, data) {
    return $.ajax({
      url: '/deliverables/asset/' + id + '/check',
      type: 'POST',
      data: data
    })
  }

  function deliverableAssetRetrieve (id) {
    return $.ajax({
      url: '/deliverables/asset/' + id,
      type: 'GET'
    })
  }

  function updateRow (assetData) {
    const row = $('tr[data-asset-id=' + assetData.id + ']')
    const filename = row.find('.column_filename')
    const version = row.find('.column_version')
    const size = row.find('.column_size')
    const duration = row.find('.column_duration')
    const type = row.find('.column_type')
    const changed = row.find('.column_changed')
    const status = row.find('.column_status')

    // Filename
    if (assetData.item_id) {
      filename.html('<a href="/vs/item/' + assetData.item_id + '" target="_blank">' + assetData.filename + '</a>')
    } else {
      filename.html(assetData.filename)
    }
    // Version
    version.html(assetData.version || '-');
    // Size
    size.html(assetData.size_string);
    // Duration
    duration.html(assetData.duration || '-');
    // Type
    row.attr('data-asset-type', assetData.type);
    // Last modified
    changed.html(assetData.changed_string);
    // Status
    status.html('<span class="status-' + assetData.status + '">' + assetData.status_string + '</span>');
    // Item id
    row.attr('data-asset-item-id', assetData.item_id);
  }

  $(document).ready(function () {
    const assetPollList = new Set({{ assets_with_ongoing_jobs }});
    const selects = $('select[id^=id_form-][id$=-type]');

    // Setup previous values in-case we want to revert ui on error
    selects.each(function () {
      const select = $(this);
      select.data('previousValue', select.val());
    });

    selects.change(function (e) {
      const select = $(this);
      dlog(select.data('previousValue'), e.target.value);
      // Asset id is assumed to be saved in row data attribute
      const assetId = select.parents('tr').data('asset-id');
      // Disable select until server responds
      select.attr('disabled', 'disabled');
      // Clear all errors
      $('.validation_error').html('');

      function revertType () {
        select.val(select.data('previousValue'));
        select.attr('disabled', null);
      }

      function doUpdate (replace) {
        deliverableAssetUpdate(assetId, {
          type: e.target.value
        }).then(function (asset) {
          dlog(asset)
          const row = $('tr[data-asset-type=' + e.target.value + ']')
          // If all went well enable select
          select.attr('disabled', null);
          // Store previous value until next time
          select.data('previousValue', select.val());
          // Remove the old row if asset was replaced
          if (replace) {
            const rowSelect = row.find('.column_type select')
            const itemId = select.parents('tr').data('asset-item-id')
            const createdFromExistingItem = row.data('created-from-existing-item')
            console.log(itemId, createdFromExistingItem)
            if (itemId === "None" && createdFromExistingItem !== "True") {
              row.remove();
            } else {
              row.attr('data-asset-type', 'None')
              rowSelect.val(null)
            }
          }
          // Add asset to polling list if necessary
          if (asset.has_ongoing_job) {
            assetPollList.add(asset.id)
            updateRow(asset)
            dlog('Added asset "' + asset.id + '" to polling list: ' + assetPollList)
          }

        }, function (error) {
          const errorData = $.parseJSON(error.responseText)
          console.error(errorData)
          if (errorData.type) {
            select.parent().find('.validation_error').html(errorData.type.join(','))
          }
          revertType();
        })
      }

      deliverableAssetCheckType(assetId, {
        type: e.target.value
      }).then(function (asset) {
        dlog(asset)
        // Send PATCH request to update asset
        doUpdate(false);
      }, function (error) {
        if (error.status === 409) {
          // Conflict, show confirmation dialog
          const selectedText = e.target.options[e.target.options.selectedIndex].text
          const response = window.confirm('This change till override the current "' + selectedText + '". Are you sure you want to continue?');
          if (response) {
            doUpdate(true);
            return;
          }
          revertType();
        }
      })

    })

    // Job polling
    function pollJobStatus () {
      const polls = []
      for (const asset of assetPollList) {
        dlog('Sending poll request for asset "' + asset + '"')
        polls.push(
          deliverableAssetRetrieve(asset).then(function (data) {
            updateRow(data)
            if (data.status === {{ DELIVERABLE_ASSET_STATUS_INGESTED }} || data.status === {{ DELIVERABLE_ASSET_STATUS_INGEST_FAILED }}) {
              assetPollList.delete(asset)
              dlog('Removed asset "' + asset + '" from polling list ' + assetPollList)
            }
          }, function () {
            // Stop polling if we get server failure
            assetPollList.delete(asset)
            dlog('Removed asset "' + asset + '" from polling list ' + assetPollList)
          })
        )
      }
      $.when.apply($, polls).always(function () {
        const delay = 1000 * 5
        dlog('All requests done, polling again in ' + delay + 'ms')
        setTimeout(pollJobStatus, delay)
      })
    }

    // Select all checkbox
    $('#id_all_checkbox').change(function () {
      const checked = $(this).prop('checked')
      $('input[name$=DELETE]').each(function() {
        $(this).prop('checked', checked)
      })
      toggleActions()
    })

    function toggleAction (id, enable) {
      const action = $(id)
      if (enable) {
        action.attr('disabled', null);
        action.removeClass('disabled-button');
      } else {
        action.attr('disabled', 'disabled');
        action.addClass('disabled-button');
      }
    }

    function toggleActions () {
      const checkedCheckboxes = $('input[name$=DELETE]:checked')
      const enable = checkedCheckboxes.length > 0
      toggleAction('#id_action_delete', enable)
    }

    $('input[name$=DELETE]').change(toggleActions)

    // On start
    pollJobStatus()
  });
</script>
{% endblock js %}
