<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Pluto – Deliverables</title>
</head>
<body>
<div id="app" />
<script>
    const deploymentRootPath = "{{ deployment_root }}/";
    const vidispineBaseUri = "{{ vidispine_client_uri }}";
    const mediaAtomToolUrl = "{{ media_atom_uri }}";
    const archiverHunterURL = "{{ archive_hunter_url }}";
</script>
<script
        src="{{ deployment_root }}/static/app.js?v={{ cbVersion }}"
        type="text/javascript"
></script>
</body>
</html>
